<section class="display-section-wrapper">
    <main class="tip-items-wrapper">
        <article>
            <div>
                <p class="tip-amount-text">Tip Amount</p>
                <p class="person-text">/ person</p>
            </div>

            <div>
                <h3 class="final-tip-amount-text">$4.27</h3>
            </div>
        </article>

        <article>
            <div>
                <p class="tip-amount-text">Tip Amount</p>
                <p class="person-text">/ person</p>
            </div>

            <div>
                <h3 class="final-tip-amount-text">$32.79</h3>
            </div>
        </article>
    </main>

    <main class="button-wrapper">
        <button class="reset-button">RESET</button>
    </main>
</section>