$body-bg: #C8F8EC;
$header-font-col: #3D6666;
$white: #FFFFFF;
$secondary-info-font-col: #5E7A7D;
$tip-option-btn-col: #00474B;
$custom-tip-option-bg: #F3F9FA;
$in-person-text-col: #7F9D9F;
$final-tip-amount-col: #26C2AE;